@using Contacts.Application.Commands
@using Contacts.Contracts.DTOs
@using Contacts.UI.JSInterop
@using MediatR
@using Microsoft.EntityFrameworkCore.Metadata.Internal

@inject IMediator Mediator
@inject NavigationManager Navigation
@inject ExampleJsInterop jsInterop

<div class="col-md-6 col-lg-4 mb-3">
    <div class="card h-100 position-relative">

        <svg xmlns="http://www.w3.org/2000/svg"
             width="100"
             height="100"
             fill="currentColor"
             class="bi bi-file-person text-light-emphasis position-absolute top-0 end-0 m-2"
             style="opacity: 0.2;"
             viewBox="0 0 16 16">
            <path d="M12 1a1 1 0 0 1 1 1v10.755S12 11 8 11s-5 1.755-5 1.755V2a1 1 0 0 1 1-1zM4 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2z" />
            <path d="M8 10a3 3 0 1 0 0-6 3 3 0 0 0 0 6" />
        </svg>

        <div class="card-body">
            <div class="mb-2">
                <h5 class="card-title mb-0">
                    @contact.FullName
                    @if (contact.IsFavorite)
                    {
                        <i class="bi bi-star-fill text-warning"></i>
                    }
                </h5>
            </div>

            <p class="card-text">
                <i class="bi bi-telephone"></i> @contact.PhoneNumber<br />
                @if (!string.IsNullOrEmpty(contact.Email))
                {
                    <span><i class="bi bi-envelope"></i> @contact.Email<br /></span>
                }
                @if (!string.IsNullOrEmpty(contact.Company))
                {
                    <span><i class="bi bi-building"></i> @contact.Company<br /></span>
                }
            </p>

            <div class="btn-group" role="group">
                <button class="btn btn-sm btn-outline-secondary disabled" disabled @onclick="() => ViewDetails(contact.Id)">View</button>
                <button class="btn btn-sm btn-outline-primary" @onclick="() => EditContact(contact.Id)">Edit</button>
                <button class="btn btn-sm btn-outline-danger" @onclick="() => DeleteContactAsync(contact.Id, contact.FullName)">Delete</button>
            </div>
        </div>
    </div>
</div>


@code {

    [Parameter]
    public ContactDto contact { get; set; }

    [Parameter]
    public EventCallback<Guid> OnContactDelete { get; set; }

    private async Task NotifyParentOfContactDeletion(Guid deletedContactId)
    {
        await OnContactDelete.InvokeAsync(deletedContactId);
    }

    private async Task ViewDetails(Guid id)
    {
         //await jsInterop.AlertUser("View detail function is not implemented yet.");
    }

    private void EditContact(Guid id) => Navigation.NavigateTo($"/contacts/edit/{id}");

    public async Task DeleteContactAsync(Guid id, string contactName)
    {
        var result = await jsInterop.ConfirmDeleteContact($"Are you sure you want to delete Contact : '{contactName}' ?");
        if (result)
        {
            var command = new DeleteContactCommand(id);
            await Mediator.Send(command);
            await NotifyParentOfContactDeletion(id);   
        }
        else
        {
            // User cancelled the deletion
        }

    }
}
